body{
    background-image: url(../img/background.png);
}

#cim{
    text-align: center;
}

#logo{
    width: 35%;
}

#kezdolap{
    width: 90%;
}

#elso{
    font-size: 20px;
}

#masodik{
    font-size: 20px;
    color: black;
    -webkit-text-stroke: 0.5px white;
}

a:link{
    color: blue
}

a:visited{
    color:red;
}

a:hover{
    color: purple;
}